* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    list-style: none ;
    text-decoration: none ;
}

/*Navigation*/
.mobile-nav {
    display: grid ;
    grid-template-columns: repeat(4 , 1fr );
    grid-template-rows: 64px ;
    line-height: 64px ;
    font-size: 44px ;
    justify-items: center ;
}

.desktop-nav {
    display: flex ;
    width: 100% ;
    justify-content: space-between ;
}

.desktop-nav .logo {
    font-size: 32px ;
    display: flex;
    margin-left: 24px ;
}

.desktop-nav .list {
    display: flex;
    line-height: 37px ;
    font-size: 25px ;
    padding-right: 24px ;
}

.desktop-nav div ul {
    display : flex ;
}

.desktop-nav div ul li a {
    display: block ;
    color: #808080 ; 
    margin: 0 16px ;
}